@import url("https://fonts.googleapis.com/css?family=Baloo+2");

* {
  font-family: "Baloo 2", cursive;
  color: red;
  text-align: center;
  font-size: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: #1d1f20;
}

main {
    display:grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    min-width: 50rem;
    min-height: 50rem;
} 

.cell {
    border: 0.1rem #1d1f20 solid;
    border-radius: 50%;
    color: black;
    background-color: white;
    text-align: center;
    font-size: 10rem;
}

.cell:hover {
  background-color: lightgray;
}

body {
  background-image: url('https://live.staticflickr.com/4078/4906592822_8dcc45c3c3_b.jpg');
}

